!!!html5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="description" content="An easy to use mixin for localized quotation marks in Sass and Compass")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="author" content="Nico Hagenburger")
    %meta(property="og:image" content="http://quotation-marks.org/#{asset_path(:images, 'quotation-marks-og.jpg')}")
    %title= data.page.title
    %link(href="#{asset_path(:css, 'styles')}" rel="stylesheet")
    %script(src="//use.typekit.net/rry6ens.js")
    %script try{Typekit.load();}catch(e){}
  %body.layout
    %header.header
      .header--logo
        %noscript= image_tag 'quotation-marks-og.jpg', class: 'header--logo-image'
        %h1.header--name<
          %span.header--name-word> Quotation
          \-
          %span.header--name-word> Marks
        %h2.header--slogan A Sass Typography Extension
        .header--version
          %a.header--version-container(href="https://github.com/hagenburger/quotation-marks/blob/master/CHANGELOG.md")
            .header--version-title Version
            .header--version-changelog Changelog
            .header--version-current= gem_version
    .layout--container
      = yield
    %a.github-badge(href="https://github.com/hagenburger/quotation-marks")
      %span Fork me on Github
      %span … and leave a star :)
    - unless current_page.app.environment == :development
      %script
        :plain
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://nh.fornax.uberspace.de/piwik/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "4"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
            })();

